<h1>Task index</h1>
<ul>
  <% @task_all.each do |task| %>
    <li style="list-style:none;border:1px gray solid;border-radius:3px;margin:5px 5%;padding:5px 10px;">
      <input type="checkbox" name="done" <%= task.done ? checked="checked" : "" %>>
      <p class=<%= task.done ? "task_true" : "task_false" %> style="display:inline-block;" ><%= task.title %></p>
      <%= link_to "Detail", task , class: "task_detail" %>
      <% task.done ? "task_true" : "task_false" %>
      <%= link_to "Done", done_task_url(id: task.id) , class: "task_done" %>
      <%= link_to "Edit", edit_task_url(id: task.id) , class: "task_edit_button" %>
    </li>
  <% end %>
</ul>


<style>
.task_detail, .task_done, .task_edit_button{
  float: right;
  margin-right: 10px;
}
.task_true{
  text-decoration: line-through;
}
</style>
