<h1>Task New</h1>

<%= form_for(@task) do |f| %>

      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :limit_at %>
      <%= f.datetime_select :limit_at %>

      <%= f.label :memo %>
      <%= f.text_field :memo %>

      <%= f.submit "Create my task", class: "btn btn-primary" %>
<% end %>
