<h1>Task Detail</h1>
<h2><%= @task.title %></h2>
<p><%= @task.done %></p>
<p><%= @task.limit_at %></p>
<p><%= @task.memo %></p>

<%= link_to "Delete", @task, method: :delete, data: {comfirm: "You Sure?"} %>
