<h1>Task Detail</h1>
<h2><%= @task.title %></h2>
<p><%= @task.done %></p>
<p><%= @task.limit_at %></p>
<p><%= @task.memo %></p>

<% if @task.image.url %>
  <%= link_to "image_delete", image_delete_url(id: @task.id), method: :delete, data: { comfirm: "Image Delete?" }%>
  <%= image_tag @task.image.url %>
<% end %>

<%= link_to "Delete", @task, method: :delete, data: {comfirm: "You Sure?"} %>
